---
type TeamMember = {
    name: string;
    role: string;
    bio: string;
    avatar: string;
    skills: string[];
};
import MainLayout from "@/layouts/MainLayout.astro";
import { SITE } from "@data/constants";
import CardTeam from "@/components/ui/cards/CardTeam.astro";
---



<MainLayout title={`Our Team | ${SITE.title}`}>
        <div class="team-grid">

    </section>
</MainLayout>

<CardTeam></CardTeam>
