---
import MainLayout from "@/layouts/MainLayout.astro";
import { SITE } from "@data/constants";
import CardTeam from "@/components/ui/cards/CardTeam.astro";
import TeamAlt from "@components/sections/landing/TeamAlt.astro";
---



<MainLayout title={`Our Team | ${SITE.title}`}>
        <div class="team-grid">

    </section>
</MainLayout>

<CardTeam></CardTeam>


  <TeamAlt
    title="We are Hiring!"
    subTitle="Join our team and help us build amazing products."
    url="/contact"
  />
