---
type TeamMember = {
    name: string;
    role: string;
    bio: string;
    avatar: string;
    skills: string[];
};
import MainLayout from "@/layouts/MainLayout.astro";
import { SITE } from "@data/constants";
import CardTeamFR from "@/components/ui/cards/CardTeamFR.astro";
import TeamAlt from "@components/sections/landing/TeamAlt.astro";
---



<MainLayout title={`Our Team | ${SITE.title}`}>
        <div class="team-grid">

    </section>
</MainLayout>

<CardTeamFR></CardTeamFR>

  <TeamAlt
    title="Nous recrutons!"
    subTitle="Rejoignez notre équipe et aidez-nous à créer des produits incroyables."
    url="/fr/contact"
  />

